@model IEnumerable<Data.Models.SpendBills>
@{
    ViewBag.Title = "Счета";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <div class="row">
        <div class="col-lg-6">
            <a id="newBill" class="btn btn-primary" href="#billModal" title="Новый счет"><i class="fa fa-plus-circle"></i> Новый счет</a>
            <a id="billMergeModal" class="btn btn-default" href="#!" title="Слияние счетов"><i class="fa fa-sitemap"></i> Слияние счетов</a>
        </div>
    </div>
</p>
<div class="row">
    <div class="col-lg-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <input id="cat-all" type="checkbox" title="все" />
                        <label for="cat-all"></label>
                    </th>
                    <th></th>
                    <th></th>
                    <th>Название счета</th>
                    <th>Кол-во записей</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="bill-item" cid="@item.Id">
                        <td>
                            <input id="bill-@item.Id" value="@item.Id" cname="@item.Name" type="checkbox" />
                            <label for="bill-@item.Id"></label>
                        </td>
                        <td>
                            <a class="bill-order-up text-muted" href="#" title="вверх"><i class="fa fa-long-arrow-up"></i></a>
                            <a class="bill-order-down text-muted" href="#" title="вниз"><i class="fa fa-long-arrow-down"></i></a>
                        </td>
                        <td>
                            <a class="bill-edit text-muted" href="#" title="изменить"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Spend.Count(x => x.Enabled)</td>
                        <td>
                            <a class="bill-remove text-muted" href="#" title="удалить"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>

<div id="billModal" class="modal fade" tabindex="-1" role="dialog"></div>

@section scripts
{
    <script>
            $(function () {
                $('#newBill').click(newModal);
                $('.category-remove').click(removeSpend);
                $('.category-order-up').click(catOrderUp);
                $('.category-order-down').click(catOrderDown);
                $('.category-edit').click(editModal);
                $('#cat-all').change(checkAll);
                $('#catMergeModal').click(catMergeModal);
            });
            function catOrderDown() {
                var id = $(this).closest('.cat-item').attr('cid');
                $.ajax({
                    url: '@Url.Action("SpendBillOrderDown")',
                    method: 'POST',
                    data: { id: id },
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        console.error(data);
                    }
                });
            }
            function catOrderUp() {
                var id = $(this).closest('.cat-item').attr('cid');
                $.ajax({
                    url: '@Url.Action("SpendBillOrderUp")',
                    method: 'POST',
                    data: { id: id },
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        console.error(data);
                    }
                });
            }
            function catMergeModal() {
                var $chkList = $('[id^=cat-]:checked').not('#cat-all');
                if ($chkList.length <= 1) {
                    alert('Необходимо выбрать 2 или более категорий');
                    return false;
                }
                var $cont = $('#billModal');
                $.ajax({
                    url: '@Url.Action("Merge")',
                    success: function (data) {
                        $cont.html(data);
                        $cont.modal();
                        setTimeout(function () {
                            $('#catName').focus();
                            $('#catMerge').click(catMerge);
                            loadCatMergeNameList();
                        }, 500);

                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
                return false;
            }
            function loadCatMergeNameList() {
                var $select = $('#catMergeName');
                $select.empty();
                var $chkList = $('[id^=cat-]:checked').not('#cat-all');
                for (var i = 0; i < $chkList.length; i++) {
                    var $item = $($chkList[i]);
                    var name = $item.attr('cname');
                    var id = $item.val();
                    $select.append('<option value="' + id + '">' + name + '</option>');
                }

            }
            function catMerge() {
                var cats = [];
                var $chkList = $('[id^=cat-]:checked').not('#cat-all');
                if ($chkList.length <= 1) {
                    alert('Необходимо выбрать 2 или более категорий');
                    return;
                }
                if (!confirm('Подтвердите слияние всех записей по выбранным категориям. После слияния нельзя будет разделить записи обратно!')) return;
                for (var i = 0; i < $chkList.length; i++) {
                    var $item = $($chkList[i]);
                    cats.push($item.val());
                }
                var nameId = $('#catMergeName').val();
                if (nameId == '' || nameId == null) {
                    alert('Укажите название объединенной категории!');
                    return;
                }
                $.ajax({
                    url: '@Url.Action("BillMerge")',
                    method: 'POST',
                    data: { cats, nameId},
                            success: function (data) {
                        location.reload();
                    },
                        error: function (data) {
                        console.log(data);
                        }
                });
            }
            function checkAll() {
                var chacked = $('#cat-all').is(':checked');
                var $chkList = $('[id^=cat-]').not('#cat-all');
                $chkList.prop('checked', chacked);
            }
            function newModal() {
                var $cont = $('#billModal');
                $.ajax({
                    url: '@Url.Action("New")',
                    success: function (data) {
                        $cont.html(data);
                        $cont.modal();
                        setTimeout(function () {
                            $('#billName').focus();
                            $('#billCreate').click(billCreate);
                            $('#startDate').datepicker({
                                format: 'dd.mm.yyyy',
                                language: "ru",
                                todayHighlight: true,
                                autoclose: true
                            });
                            $('#endDate').datepicker({
                                format: 'dd.mm.yyyy',
                                language: "ru",
                                todayHighlight: true,
                                autoclose: true
                            });
                        }, 500);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
                return false;
            }

        function billCreate() {
            var name = $('#billName').val();
                if (name == null || name == '') {
                    alert('Введите название счета!');
                    return;
                }
                $.ajax({
                    url: '@Url.Action("Create")',
                    method: 'POST',
                    data: { Name: name },
                    success: function () {
                        $('#billModal').modal('hide');
                        location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
            function editModal() {
                var id = $(this).closest('.cat-item').attr('cid');
                var $cont = $('#billModal');
                $.ajax({
                    url: '@Url.Action("Edit")',
                    data: { id},
                            success: function (data) {
                        $cont.html(data);
                        $cont.modal();
                        setTimeout(function () {
                            $('#catName').focus();
                            $('#catEdit').click(catEdit);
                            $('#catEdit').attr('cid', id);
                        }, 500);

                            },
                    error: function (data) {
                        console.log(data);
                    }
                });
                return false;
            }
            function catEdit() {
                var name = $('#catName').val();
                if (name == null || name == '') {
                    alert('Введите название категории!');
                    return;
                }
                var id = $('#catEdit').attr('cid');
                $.ajax({
                    url: '@Url.Action("Edit")',
                    method: 'POST',
                    data: { CategoryId: id, Name: name },
                    success: function () {
                        $('#billModal').modal('hide');
                        location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }

            function removeSpend() {
                if (!confirm('Подтвердите удаление!')) return;
                var $tr = $(this).closest('.cat-item');
                var cid = $tr.attr('cid');
                $.ajax({
                    url: '@Url.Action("Delete")',
                    method: 'POST',
                    data: { id: cid },
                    success: function (data) {
                        if (data.responseText && data.responseText !== '') {
                            alert(data.responseText);
                            return;
                        } else {
                            $tr.remove();
                        }
                    },
                    error: function (data) {
                        console.error(data);
                    }
                });
            }
    </script>
}
