@{
    ViewBag.Title = "Счета";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <div class="row">
        <div class="col-lg-6">
            <a id="newBill" class="btn btn-primary" href="#billModal" title="Новый счет"><i class="fa fa-plus-circle"></i> Новый счет</a>
            <a id="billMergeModal" class="btn btn-default" href="#!" title="Слияние счетов"><i class="fa fa-sitemap"></i> Слияние счетов</a>
        </div>
    </div>
</p>
<div class="row">
    <div class="col-lg-6">
        <div id="billListContainer">
        </div>
    </div>
</div>

<div id="billModal" class="modal fade" tabindex="-1" role="dialog"></div>

@section scripts
{
    <script>
        $(function () {
            loadBillList();
            $('#newBill').click(newModal);
            $('#billMergeModal').click(catMergeModal);
        });

        function checkAll() {
            var chacked = $('#bill-all').is(':checked');
            var $chkList = $('[id^=bill-]').not('#bill-all');
            $chkList.prop('checked', chacked);
        }
        function newModal() {
            var $cont = $('#billModal');
            $.ajax({
                url: '@Url.Action("New")',
                success: function (data) {
                    $cont.html(data);
                    $cont.modal();
                    setTimeout(function () {
                        $('#billName').focus();
                        $('#billCreate').click(billCreate);
                        $('#startDate').datepicker({
                            format: 'dd.mm.yyyy',
                            language: "ru",
                            todayHighlight: true,
                            autoclose: true
                        });
                        $('#endDate').datepicker({
                            format: 'dd.mm.yyyy',
                            language: "ru",
                            todayHighlight: true,
                            autoclose: true
                        });
                    }, 500);
                },
                error: function (data) {
                    console.log(data);
                }
            });
            return false;
        }

        function createBillSuccess() {
            $('#billModal').modal('hide');
            loadBillList();
        }

        function loadBillList() {
            var $cont = $('#billListContainer');

            $.ajax({
                url: '@Url.Action("BillList")',
                method: 'GET',
                success: function (data) {
                    $cont.html(data);
                    $('#bill-all').change(checkAll);
                    $('.bill-remove').click(billRemove);
                    $('.bill-order-up').click(catOrderUp);
                    $('.bill-order-down').click(catOrderDown);
                    $('.bill-edit').click(editModal);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        function editModal() {
            var id = $(this).closest('.bill-item').attr('bid');
            var $cont = $('#billModal');
            $.ajax({
                url: '@Url.Action("Edit")',
                data: {id},
                success: function (data) {
                    $cont.html(data);
                    $cont.modal();
                    setTimeout(function () {
                        $('#billName').focus();
                    }, 500);

                },
                error: function (data) {
                    console.log(data);
                }
            });
            return false;
        }
        
        function editBillSuccess() {
            $('#billModal').modal('hide');
            loadBillList();
        }

        function billRemove() {
            if (!confirm('Подтвердите удаление!')) return;
            var $tr = $(this).closest('.bill-item');
            var bid = $tr.attr('bid');
            $.ajax({
                url: '@Url.Action("Delete")',
                method: 'POST',
                data: { id: bid },
                success: function (data) {
                    if (data.responseText && data.responseText !== '') {
                        alert(data.responseText);
                        return;
                    } else {
                        $tr.remove();
                    }
                },
                error: function (data) {
                    console.error(data);
                }
            });
        }

        function catOrderDown() {
            var id = $(this).closest('.cat-item').attr('cid');
            $.ajax({
                url: '@Url.Action("SpendBillOrderDown")',
                method: 'POST',
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    console.error(data);
                }
            });
        }
        function catOrderUp() {
            var id = $(this).closest('.cat-item').attr('cid');
            $.ajax({
                url: '@Url.Action("SpendBillOrderUp")',
                method: 'POST',
                data: { id: id },
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    console.error(data);
                }
            });
        }
        function catMergeModal() {
            var $chkList = $('[id^=cat-]:checked').not('#cat-all');
            if ($chkList.length <= 1) {
                alert('Необходимо выбрать 2 или более категорий');
                return false;
            }
            var $cont = $('#billModal');
            $.ajax({
                url: '@Url.Action("Merge")',
                success: function (data) {
                    $cont.html(data);
                    $cont.modal();
                    setTimeout(function () {
                        $('#catName').focus();
                        $('#catMerge').click(catMerge);
                        loadCatMergeNameList();
                    }, 500);

                },
                error: function (data) {
                    console.log(data);
                }
            });
            return false;
        }
        function loadCatMergeNameList() {
            var $select = $('#catMergeName');
            $select.empty();
            var $chkList = $('[id^=cat-]:checked').not('#cat-all');
            for (var i = 0; i < $chkList.length; i++) {
                var $item = $($chkList[i]);
                var name = $item.attr('cname');
                var id = $item.val();
                $select.append('<option value="' + id + '">' + name + '</option>');
            }

        }
        function catMerge() {
            var cats = [];
            var $chkList = $('[id^=cat-]:checked').not('#cat-all');
            if ($chkList.length <= 1) {
                alert('Необходимо выбрать 2 или более категорий');
                return;
            }
            if (!confirm('Подтвердите слияние всех записей по выбранным категориям. После слияния нельзя будет разделить записи обратно!')) return;
            for (var i = 0; i < $chkList.length; i++) {
                var $item = $($chkList[i]);
                cats.push($item.val());
            }
            var nameId = $('#catMergeName').val();
            if (nameId == '' || nameId == null) {
                alert('Укажите название объединенной категории!');
                return;
            }
            $.ajax({
                url: '@Url.Action("BillMerge")',
                method: 'POST',
                data: { cats, nameId},
                        success: function (data) {
                    location.reload();
                },
                    error: function (data) {
                        console.log(data);
                    }
            });
        }

        
    </script>
}
