@using Data.Models
@using Data.Services
@using Microsoft.AspNet.Identity
@using OwnAgent.Models
@model Models.ViewModels.SpendNewViewModel
@{
    ViewBag.Title = "Новая запись";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string clientId = ViewBag.ClientId;
}

<p>
    <div class="row">
        <div class="col s7 m4 l4">
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    @Html.TextBoxFor(m => m.Sum, "{0:N0}", new {@class = "validate", required = "required", id = "sum", placeholder = "Сумма", type = "number"})
                    <label for="sum">Сумма</label>
                </div>
            </div>
            @*<div class="row">
                    <div class="col s12">
                        <label for="vector">Вектор</label>
                        @Html.DropDownListFor(m => m.VectorId, SpendVector.GetSelectionList(clientId), new { required = "required", id = "vector", @class = "browser-default" })

                    </div>
                </div>*@
            <div class="row">
                <div class="col s12 m12 l12">
                    <label for="category">Категория</label>
                    @Html.DropDownListFor(m => m.CategoryId, new SelectList(SpendService.Instance(ViewBag.UserSid).GetCategorySelectionList(), "Key", "Value"), new {required = "required", id = "category", @class = "browser-default"})
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    @Html.TextBoxFor(m => m.Date, "{0:d}", new {@id = "date", @class = "validate", required = "required", placeholder = "Дата"})
                    <label for="date">Дата</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    @Html.TextAreaFor(m => m.Comment, new {id = "comment", @class = "materialize-textarea", placeholder = "Комментарий"})
                    <label for="comment">Комментарий</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6 m6 l6">
                    <a id="inc" class="waves-effect waves-light btn-large green btn-block"><i class="large material-icons">add_circle_outline</i></a>
                </div>
                <div class="col s6 m6 l6">
                    <a id="exp" class="waves-effect waves-light btn-large red lighten-1 btn-block"><i class="large material-icons">remove_circle_outline</i></a>
                </div>
            </div>
        </div>
        <div class="col s5 m4 l2">
            <h5>Недавно добавлено</h5>
            <div id="lastAddContainer">@Html.Partial("Loader")</div>
            @*<h6>Быстрый выбор</h6>
            <div id="spendTopContainer">@Html.Partial("Loader")</div>*@
        </div>
    </div>
</p>
@*<p>
    <div class="row">
        <div class="col s12 m8 l6">
            <h5>Недавно добавлено</h5>
            <div id="lastAddContainer">
                @Html.Partial("Loader")
            </div>
        </div>
    </div>
</p>*@

@section scripts
{
    <script type="text/javascript">
        $(function () {
            //$("#showTop").sideNav();
            //$("#showTop").click(loadTop);
            $('#inc').click(function () {
                save('@Url.Action("SpendIncome", "Balance")', this);
            });
            $('#exp').click(function () {
                save('@Url.Action("SpendExpense", "Balance")', this);
            });
            $('#date').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year
                format: 'dd.mm.yyyy',
                firstDay: 'Mon',
                closeOnSelect: true
            });
            $("#sum").val('').focus();
            $("[name='shortKey']").click(function () {
                var catId = $(this).attr('category');
                var vectId = $(this).attr('vector');
                var sum = $(this).attr('sum');
                $("#sum").val(sum);
                $("#vector option").filter(function () {
                    return $(this).attr('value') === vectId;
                }).attr('selected', true);
                $("#category option").filter(function () {
                    return $(this).attr('value') === catId;
                }).attr('selected', true);
                //$('#frmSpend').submit();
            });

            loadLastadd();
            //loadSpendTop();
        });

        function loadSpendTop() {
            var $cont = $('#spendTopContainer');
            $.get('@Url.Action("SpendTop")', function (data) {
                $cont.html(data);
            });
        }

        function loadLastadd() {
            var $cont = $('#lastAddContainer');
            $.get('@Url.Action("SpendLastAdd")', function (data) {
                $cont.html(data);
            });
        }

        function save(url, obj) {
            var sum = $('#sum').val().replace('.', ',');

            if (sum == '' || sum == '0') {
                alert('Необходимо указать сумму!');
                $('#sum').focus();
                return;
            }

            var $this = $(obj);
            $this.enabled = false;
            $.ajax({
                url: url,
                method: 'POST',
                data: { Date: $('#date').val(), Sum: sum, CategoryId: $('#category').val(), Comment: $('#comment').val() },
                success: function () {
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data);
                    $this.enabled = true;
                }
            });
        }
    </script>
}