@model IEnumerable<Models.ViewModels.SpendLastAddViewModel>

@{
    Layout = null;
}

@if (Model != null && Model.Any())
{
    foreach (var spend in Model)
    {
        
        <div class="last-add-card card-panel @spend.SpendVectorBgColorClass" sid="@spend.Id">
            <a href="#" class="last-add-remove grey-text lighten-1"><i class="material-icons">clear</i></a>
            <span class="white-text">
                <span class="badge white-text"><i class="material-icons left">@spend.SpendVectorIconName</i></span>
                <small>
                    @spend.SpendCategoryName
                </small>
                <br />
                @spend.Sum
            </span>
        </div>
    }

    @*<div class="row">
        @foreach (var spend in Model)
        {
            <div class="col s6 l4">
                <div class="card-panel">
                    <div>
                        <small>@spend.Date.ToString("dd.MM.yyyy")</small>
                        <div>@spend.SpendCategoryName</div>
                    </div>
                    <div class="text-lg">@spend.Sum</div>
                </div>
            </div>
        }
    </div>*@
}
