@model IEnumerable<Data.Models.Spend>

@if (Model.Any())
{
    <div class="row">
        @foreach (var cl in Model)
        {
            <div class="col s4 l3" >

                <div class="row center-align green lighten-3 card-panel hoverable shortKey z-depth-3" name="shortKey" category="@cl.SpendCategory.CategoryId" vector="@cl.SpendVector.VectorId" sum="@cl.Sum">
                    <div class="left">
                        <small>@cl.SpendVector.Name</small>
                        <div>@cl.SpendCategory.Name</div>
                        <div class="text-lg">@cl.Sum.ToString("N0")</div>

                    </div>
                    <div class="right">
                        <a class="btn-floating"><i class="material-icons right center">add</i></a>
                    </div>
                </div>
            </div>
        }
    </div>
    @*</ul>*@
}