
@{
    Layout = "_Layout.cshtml";
}
@section nav
{
    <ul id="nav-mobile" class="left">
        <li><a href="@Url.Action("Stat", "Balance")"><i class="material-icons large">trending_up</i></a></li>
        <li><a href="@Url.Action("New", "Balance")"><i class="material-icons large">add</i></a></li>
    </ul>
@RenderSection("nav", required: false)
}

    @RenderBody()
@section scripts{
    @RenderSection("scripts", required: false)
}