<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <nav class="indigo lighten-3">
        <div class="nav-wrapper">
            <div class="container">
                <div class="row">
                    @*@Html.ActionLink("Бюджет", "Index", "Home", new { area = "" }, new { @class = "brand-logo" })*@
                    @*<ul id="nav-mobile" class="left">
                        <li><a href="@Url.Action("New", "Balance")"><i class="material-icons large">add</i></a></li>
                    </ul>*@
                    @RenderSection("nav", required: false)
                    <ul class="hide-on-small-and-down right">
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            @RenderBody()
            <hr />
        </div>
    </main>
<footer>
    <div class="container">
        <p>&copy; @DateTime.Now.Year</p>
        <a href="mailto: wakedown.59@gmail.com" class="btn waves-effect waves-light red lighten-3">Оставить отзыв</a>
    </div>
</footer>
@RenderSection("scripts", required: false)
</body>
</html>
