<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <div class="navbar-fixed">
        <nav class="indigo lighten-3">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s12">
                        @Html.ActionLink("Бюджет", "Stat", "Balance", new { area = "" }, new { @class = "brand-logo" })
                        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="@Url.Action("New", "Balance")"><i class="material-icons large">add</i></a></li>
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                        <ul class="side-nav" id="mobile-menu">
                            <li><a href="@Url.Action("Stat", "Balance")">Статистика</a></li>
                            <li><a href="@Url.Action("New", "Balance")">Добавить</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
        <main>
            <div class="container">
                @RenderBody()
                <hr />
            </div>
        </main>
        <footer>
            <div class="container">
                <p>&copy; @DateTime.Now.Year</p>
                <a href="mailto: wakedown.59@gmail.com" class="btn waves-effect waves-light red lighten-3">Оставить отзыв</a>
            </div>
        </footer>
        <script>
            $(function () {
                $(".button-collapse").sideNav();
            });
        </script>
        @RenderSection("scripts", required: false)
</body>
</html>
