<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("head", required: false)
</head>
<body style="background-image: url(@Url.Content("~/Content/images/login-bg.jpg"))">
<div class="navbar navbar-default navbar-fixed-top no-border" style="background-color: transparent !important">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Balance")" class="navbar-brand">
                <i class="fa fa-money fa-2x text-success" title="" style="padding-left: 22px;"></i>
                <div class="h5 no-margin" style="padding-left: 15px; padding-top: 0px;">Бюджет</div>
            </a>
        </div>
        @*<div id="mainMenu" class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>*@
    </div>
</div>
    <noscript>
        <blockquote class="alert alert-danger">Необходимо включить JavaScript в браузере!</blockquote>
    </noscript>
    <div class="container body-content">
        <div class="row" style="margin-top: 50px">
            <div class="col-sm-12 col-md-push-8 col-md-4 col-lg-push-8 col-lg-4" style="background-color: rgba(255,255,255,0.7)">
                @RenderBody()
            </div>
        </div>
        
        @*<hr />
        <footer class="">
            <p>&copy; @DateTime.Now.Year - Бюджет</p>
        </footer>*@
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
